<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
  </head>
  <body>
    <div id="app">
      <template v-if="pageName == 'index.html'">
        <div class="container">
          <header-area></header-area>
          <order-info-area @upd="changeOrderType"></order-info-area>
          <menu-category></menu-category>
          <top-button></top-button>
        </div>
      </template>
      <template v-if="pageName == 'detail'">
        <div class="container">
          <header-area></header-area>
          <detail-area @popup="popupOpen" :order-type="orderType"></detail-area>
          <detail-review></detail-review>
          <detail-popup @popclose="popupClose()" @orderitem="orderItems" :item="menuItem"></detail-popup>
        </div>
      </template>
      <template v-if="pageName == 'order'">
        <order :item="selectItem"></order>
      </template>
    </div>
    <script type="module" src="./js/index.js"></script>
  </body>
</html>